@{
    ViewData["Title"] = "Skills";
}

<div class="skills-section py-5">
    <div class="container text-center">
        <h2 class="fw-bold mb-5" style="color:#f24b0f;">Skills</h2>

        <!-- Technical Skills -->
        <div class="mb-5">
            <h4 class="fw-semibold mb-3">Technical Skills</h4>

            <div class="skills-grid">
                <span>C++</span>
                <span>C#</span>
                <span>C</span>
                <span>JavaScript</span>
                <span>jQuery</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>React</span>
                <span>.NET Core</span>
                <span>ASP.NET Core MVC</span>
                <span>Entity Framework Core</span>
                <span>Web API</span>
                <span>Generative AI Development</span>
                <span>Front-end Web Development</span>
                <span>UI/UX Design</span>
                <span>API Integration</span>
                <span>Object-Oriented Programming (OOPs)</span>
                <span>MySQL</span>
                <span>Microsoft SQL Server</span>
                <span>Git</span>
                <span>GitHub</span>
                <span>Vercel</span>
                <span>VS Code</span>
                <span>Visual Studio</span>
                <span>Figma</span>
            </div>
        </div>

        <!-- Soft Skills -->
        <div>
            <h4 class="fw-semibold mb-3">Soft Skills</h4>
            <div class="skills-grid">
                <span>Communication</span>
                <span>Analytical and Problem-Solving</span>
                <span>Teamwork</span>
                <span>Adaptability</span>
                <span>Flexibility</span>
            </div>
        </div>
    </div>
</div>
